# 설정 로드 & 실행

In [1]:
import os

# 현재 작업 디렉토리 확인
print("현재 작업 디렉토리:", os.getcwd())

# 노트북이 위치한 디렉토리에서 프로젝트 루트 디렉토리로 이동
# 'notebooks/EDA' 에서 'AI_Lab/computer-vision-competition-1SEN' 으로 이동
os.chdir("../../") 

# 작업 디렉토리 변경 후 다시 확인
print("변경 후 작업 디렉토리:", os.getcwd())

현재 작업 디렉토리: /home/ieyeppo/AI_Lab/computer-vision-competition-1SEN/notebooks/EDA
변경 후 작업 디렉토리: /home/ieyeppo/AI_Lab/computer-vision-competition-1SEN

In [3]:
import json, os, pandas as pd
from src.utils.checks import main as run_checks

CFG = "configs/data_config.json"
!python -m src.utils.checks --cfg {CFG}

# 산출물 확인
with open("data/processed/data_schema.json","r") as f:
    print(f.read())
pd.read_csv("data/processed/class_weights.json")

{
  "train_rows": 1570,
  "train_cols": [
    "ID",
    "target"
  ],
  "target_labels": [
    0,
    1,
    2,
    3,
    4,
    5,
    6,
    7,
    8,
    9,
    10,
    11,
    12,
    13,
    14,
    15,
    16
  ],
  "submission_rows": 3140,
  "submission_cols": [
    "ID",
    "target"
  ]
}

                             {
  "0": 1.0                 NaN
  "1": 2.1739130434782608  NaN
  "2": 1.0                 NaN
  "3": 1.0                 NaN
  "4": 1.0                 NaN
  "5": 1.0                 NaN
  "6": 1.0                 NaN
  "7": 1.0                 NaN
  "8": 1.0                 NaN
  "9": 1.0                 NaN
  "10": 1.0                NaN
  "11": 1.0                NaN
  "12": 1.0                NaN
  "13": 1.3513513513513513 NaN
  "14": 2.0                NaN
  "15": 1.0                NaN
  "16": 1.0                NaN
}                          NaN